<!doctype html>
<title>Reddicommend</title>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/materialize.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/materialize.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Reddicommend</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Recommendations</a></li>
        <li><a href="visualization">Visualization</a></li>
        <li><a href="https://github.com/hoidn/Reddicommend">About</a></li>
      </ul>
    </div>
  </nav>
{% block body %}{% endblock %}

